<li>
    {{burger_name}}
    <button class="burgerBlock" data-id="{{id}}" data-devoured="{{devoured}}">
        {{#if devoured}} 
        Eat me! 
        {{else}} 
        Order Again! 
        {{/if}}
    </button>
</li>